In [1]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_excel('E:\Downloads\\SchoolProj.xlsx', index_col=False)

In [23]:
df

,Title:,XYZ,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,SNumber :,1,NaN,NaN,NaN,NaN
1,Type :,ABCDEFG,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,Section,NaN,Section A,Section B,Section C,Section D
4,A School,0,0,0,0,0
5,Estimated Range of Outcomes*,Min (-25%),0,0,0,0
6,NaN,Max (+75%),0,0,0,0
7,Plan,NaN,0,0,0,0
8,Design,NaN,0,0,0,0
9,Hazard,NaN,0,0,0,0
10,Crate,NaN,0,0,0,0
11,Non-Departmental,NaN,0,0,0,0
12,Special,NaN,0,0,0,0
13,Current,NaN,0,0,0,0
14,Old,NaN,0,0,0,0
15,B School,0,0,0,0,0
16,Estimated Range of Outcomes*,Min (-10%),0,0,0,0
17,NaN,Max (+25%),0,0,0,0
18,Plan,NaN,0,0,0,0
19,Design,NaN,0,0,0,0
20,Hazard,NaN,0,0,0,0
21,Crate,NaN,0,0,0,0
22,Non-Departmental,NaN,0,0,0,0
23,Special,NaN,0,0,0,0
24,Current,NaN,0,0,0,0
25,Old,NaN,0,0,0,0
26,C School,0,0,0,0,0
27,Estimated Range of Outcomes*,Min (-5%),0,0,0,0
28,NaN,Max (+10%),0,0,0,0
29,Plan,NaN,0,0,0,0
30,Design,NaN,0,0,0,0
31,Hazard,NaN,0,0,0,0
32,Crate,NaN,0,0,0,0
33,Non-Departmental,NaN,0,0,0,0
34,Special,NaN,0,0,0,0
35,Current,NaN,0,0,0,0
36,Old,NaN,0,0,0,0
37,D School,0,0,0,0,0
38,Estimated Range of Outcomes*,Min (-5%),0,0,0,0
39,NaN,Max (+10%),0,0,0,0
40,Plan,NaN,0,0,0,0
41,Design,NaN,0,0,0,0
42,Hazard,NaN,0,0,0,0
43,Crate,NaN,0,0,0,0
44,Non-Departmental,NaN,0,0,0,0
45,Special,NaN,0,0,0,0
46,Current,NaN,0,0,0,0
47,Old,NaN,0,0,0,0

In [24]:
df = df.T

In [25]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
Title:,SNumber :,Type :,NaN,Section,A School,Estimated Range of Outcomes*,NaN,Plan,Design,Hazard,...,Estimated Range of Outcomes*,NaN,Plan,Design,Hazard,Crate,Non-Departmental,Special,Current,Old
XYZ,1,ABCDEFG,NaN,NaN,0,Min (-25%),Max (+75%),NaN,NaN,NaN,...,Min (-5%),Max (+10%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 2,NaN,NaN,NaN,Section A,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Unnamed: 3,NaN,NaN,NaN,Section B,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Unnamed: 4,NaN,NaN,NaN,Section C,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
df.head(1)

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
Title:,SNumber :,Type :,NaN,Section,A School,Estimated Range of Outcomes*,NaN,Plan,Design,Hazard,...,Estimated Range of Outcomes*,NaN,Plan,Design,Hazard,Crate,Non-Departmental,Special,Current,Old

In [39]:
df.columns = df.iloc[0]

In [40]:
df.columns

Index([                   'SNumber :',                       'Type :',
                                  nan,                      'Section',
                           'A School', 'Estimated Range of Outcomes*',
                                  nan,                         'Plan',
                             'Design',                      'Hazard ',
                              'Crate',           'Non-Departmental  ',
                          'Special  ',                      'Current',
                                'Old',                     'B School',
       'Estimated Range of Outcomes*',                            nan,
                               'Plan',                       'Design',
                            'Hazard ',                        'Crate',
                 'Non-Departmental  ',                    'Special  ',
                            'Current',                          'Old',
                           'C School', 'Estimated Range of Outcomes*',
                                  nan,                         'Plan',
                             'Design',                      'Hazard ',
                              'Crate',           'Non-Departmental  ',
                          'Special  ',                      'Current',
                                'Old',                     'D School',
       'Estimated Range of Outcomes*',                            nan,
                               'Plan',                       'Design',
                            'Hazard ',                        'Crate',
                 'Non-Departmental  ',                    'Special  ',
                            'Current',                          'Old'],
      dtype='object', name='Title:')

In [41]:
df.head()

Title:,SNumber :,Type :,NaN,Section,A School,Estimated Range of Outcomes*,NaN,Plan,Design,Hazard,...,Estimated Range of Outcomes*,NaN,Plan,Design,Hazard,Crate,Non-Departmental,Special,Current,Old
Title:,SNumber :,Type :,NaN,Section,A School,Estimated Range of Outcomes*,NaN,Plan,Design,Hazard,...,Estimated Range of Outcomes*,NaN,Plan,Design,Hazard,Crate,Non-Departmental,Special,Current,Old
XYZ,1,ABCDEFG,NaN,NaN,0,Min (-25%),Max (+75%),NaN,NaN,NaN,...,Min (-5%),Max (+10%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 2,NaN,NaN,NaN,Section A,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Unnamed: 3,NaN,NaN,NaN,Section B,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Unnamed: 4,NaN,NaN,NaN,Section C,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
df = df.drop('Title:')

In [46]:
df.head()

Title:,SNumber :,Type :,NaN,Section,A School,Estimated Range of Outcomes*,NaN,Plan,Design,Hazard,...,Estimated Range of Outcomes*,NaN,Plan,Design,Hazard,Crate,Non-Departmental,Special,Current,Old
XYZ,1,ABCDEFG,NaN,NaN,0,Min (-25%),Max (+75%),NaN,NaN,NaN,...,Min (-5%),Max (+10%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 2,NaN,NaN,NaN,Section A,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Unnamed: 3,NaN,NaN,NaN,Section B,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Unnamed: 4,NaN,NaN,NaN,Section C,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Unnamed: 5,NaN,NaN,NaN,Section D,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
df.columns

Index([                   'SNumber :',                       'Type :',
                                  nan,                      'Section',
                           'A School', 'Estimated Range of Outcomes*',
                                  nan,                         'Plan',
                             'Design',                      'Hazard ',
                              'Crate',           'Non-Departmental  ',
                          'Special  ',                      'Current',
                                'Old',                     'B School',
       'Estimated Range of Outcomes*',                            nan,
                               'Plan',                       'Design',
                            'Hazard ',                        'Crate',
                 'Non-Departmental  ',                    'Special  ',
                            'Current',                          'Old',
                           'C School', 'Estimated Range of Outcomes*',
                                  nan,                         'Plan',
                             'Design',                      'Hazard ',
                              'Crate',           'Non-Departmental  ',
                          'Special  ',                      'Current',
                                'Old',                     'D School',
       'Estimated Range of Outcomes*',                            nan,
                               'Plan',                       'Design',
                            'Hazard ',                        'Crate',
                 'Non-Departmental  ',                    'Special  ',
                            'Current',                          'Old'],
      dtype='object', name='Title:')